#!/bin/bash

USER={{ zfs_sync_user }}
HOST={{ zfs_sync_host }}

HOSTNAME=$(hostname)

{% for vol in zfs_filesystems %}
/usr/local/sbin/syncoid -r {{ zfs_zpool_name }}/{{ vol.name }} $USER@$HOST:{{ vol.sync_dest }} 2>&1
{% endfor %}
